.small {
  font-size: small;
}
.medium {
  font-size: medium;
  font-weight: 700;
}
.confirmed {
    color: red !important;
}
.active {
    color: maroon !important;
}
.recovered {
    color: green !important;
}
.deaths {
    color: darkslategray !important;
}
h3 {
    margin: 0px;
    font-size: 20px;
}