.small {
  font-size: small;
}
.medium {
  font-size: medium;
  font-weight: 700;
}
.district-medium {
  font-size: 14px;
  font-weight: 500;
}
.confirmed {
  color: red !important;
}
.active {
  color: maroon !important;
}
.recovered {
  color: green !important;
}
.deaths {
  color: darkslategray !important;
}
h3 {
  margin: 0px;
  font-size: 20px;
}
.server-down {
  margin: 0px;
  position: absolute;
  font-size: x-small;
}
@media screen and (max-width: 700px) {
  .makeStyles-root-1 {
    min-width: unset !important;
    width: 100vw !important;
  }
  table {
    display: block !important;
    width: 100vw !important;
  }
  table thead tr {
    display: block !important;
    width: 100vw !important;
  }
  table tbody {
    display: block !important;
    width: 100vw !important;
  }
  td {
    width: 54px !important;
    padding: 3px 8px !important;
  }
  th {
    width: 40px !important;
    padding: 1px !important;
  }
  h3 {
    font-size: small;
  }
  .small {
    font-size: x-small;
  }
  .medium {
    font-size: small;
    font-weight: 700;
  }
  .MuiTableCell-alignLeft {
    width: 80px !important;
  }
  .confirmed-cell {
    width: 66px !important;
  }
  .recovered-cell {
    width: 76px !important;
  }
  .makeStyles-cellBoarder-10 {
    height: 30px !important;
  }
  .server-down {
    font-size: xx-small;
    top: 68px;
  }
  #root {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 400px) {
  h3 {
    font-size: 12px;
  }
  .small {
    font-size: 10px;
  }
  .medium {
    font-size: 12px;
    font-weight: 700;
  }
  .makeStyles-cellBoarder-10 {
    height: 28px !important;
  }
  #root {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 350px) {
  h3 {
    font-size: 10px;
  }
  .small {
    font-size: 8px;
  }
  .medium {
    font-size: 10px;
    font-weight: 700;
  }
  .MuiTableSortLabel-icon {
    font-size: x-small !important;
  }
  .makeStyles-cellBoarder-10 {
    height: 25px !important;
  }
  #root {
    overflow-x: hidden;
  }
}
